MONGODB_URI = "mongodb://root:1qloGEJ3aplZheRWmXYLX6lbHSUtC7tjIDxaDe3a6yNCFK8En72JTKgpUN0roVzF@95.217.7.150:5437/?directConnection=true"
SEN_DSN =https://ad7c753df95f486c0775673f7664ac9d@sen.newhoopla.com/3
RESEND_API_KEY=re_HP5CjE5a_3yPTiQfXramu1GdMZW8xzgyd
RESEND_EMAIL_USER=info@a.deploymentwizard.com
PORT=5173
JWT_SECRET_KEY=sd1hh24g5sd1hh24g5Sd1HH24g5
GOOGLE_CLIENT_ID=
AUTH_URL=